<div class="container">
  <div class="heading">
    <a class="btn btn-sucsess" href="/">Home</a>
  </div>
  <div class="form">
    <div class="side_img"></div>
    <!--<img src="\img\1.jpg"alt="" srcset="">-->
  </div>
  <div class="form_container">
    <form action="/article" method="post">
      <input type="text"  name="title"   placeholder="Title..........">
      <textarea name="des" id="" cols="40" rows="20" placeholder="your post...."></textarea>
      <textarea name="Info" id="" cols="40" rows="20" placeholder="Moreinfo..."></textarea>
      <button class="btn btn_info" type="submit">Submit</button>
    </form>
  </div>
</div>